.navbar-content {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.left-content {
    border: 1px solid red;
}

.left-content,
.navbar-list {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.navbar-list ul {
    justify-content: space-between;
}